
  @import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: black;
    background-color: grey;
  }
  
  .container {
    max-width: 90rem;
    margin: 2rem auto;
    padding: 0px 2rem;
  }
  
  .header {
    padding: 2rem;
    margin: 1rem 0px;
    text-align: center;
  }

  h1{
    font-size: 3rem;
  }
  .description{
    font-size: 1.5rem;
  }
  header > .title {
    margin-bottom: 1rem;
    
  }

  .tribute {
    display: grid;
    grid-template-columns: 1fr  ;
    max-width: 78rem;
    margin: 0px auto;
    align-items: center;
    justify-items: center;
  }
  
  .tribute img {
    max-width: 100%;
    justify-content: center;
    border: 2px solid black;
    border-radius: 10px;
  }

  .bio {
    margin: 2rem auto;
    padding: 0px 0.5rem;
    max-width: 78rem;
  }
  
  .bio > h2 {
    margin-bottom: 1rem;
    font-size: 3rem;
    line-height: 1.2;
  }
  .bio > p {
    font-size: 1.2rem;
    line-height: 1.4;
  }
  
  .bio > hr {
    margin-top: 2rem;
  }

  .list-class{
    padding: 0.5rem;
    font-size: 1.2rem;
    line-height: 1.4;
    
  }

  a{
    color: #AEADF0;
  }